img {
	width: 300px;
}

.avatar {
	width: 50px;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(50px, 100px);
}

h2 {
    text-align: center;
}

li {
    list-style-type: none;
    
  }
