

img {
	width: 300px;
}

.avatar {
	width: 50px;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(50px, 100px);
}

h2 {
    text-align: center;
}

li {
    list-style-type: none;
    
  }

  .butt {
	display: none;
  }

  .pagination {
	display: flex;
	justify-content: center;
  }
  
  .pagination__list {
	display: flex;
	list-style-type: none;  
  }
  
  .pagination__item {
	padding: 8px;
	margin: 8px;
	cursor: pointer;
  }
  
  .pagination__item--active {
	font-weight: 800;
	color: gold;
  }
  
  .posts { 
	width: 500px;
	transition: width 0.2s;
  }
  
  
  .posts.more {
	width: 400px;
    
  }


  