{% extends "posts/template.html" %}
{% block title %}Profile{% endblock title %}

{% block content %}
	{% if user.is_authenticated %}
	<div class="post">
		hello {{ user.username }}
		<img src="{{ user.avatar.url }}">
		<br>
		<br>
		<form method="post" enctype="multipart/form-data" class="post">
			{% csrf_token %}
			<b>Avatar: </b>{{ form.avatar }}
			<button class="button" type="submit">Upload</button>
		</form>
		<a class="button" href="{% url "signout" %}">SignOut</a>
	</div>
	{% else %}
	<div class="post">
		<a class="button" href="{% url 'signup' %}">SignUp</a>
		<a class="button" href="{% url 'signin' %}">SignIn</a>
	</div>
	{% endif %}
{% endblock content %}