{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static "posts/css/style.css" %}">
	<title>{% block title %}{% endblock title %}</title>
</head>
<body>
	<header>
		<a class="header__link" href="{% url "profile" %}">Profile</a>
		<a class="header__link" href="{% url "home" %}">Home</a>
		<a class="header__link" href="{% url "create_post" %}">Create</a>
	</header>
	<main>
		{% block content %}
		{% endblock content %}
	</main>
	<footer>
		Представте що тут важлива інфа
	</footer>
</body>
</html>