{% extends "posts/template.html" %}
{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
	<div class="post__view post">
		<div class="user">
			<img class="avatar" src="{{ post.author.avatar.url }}"><span class="username">{{ post.author.username }}</span>
		</div>
		<div class="post__title"><a href="{% url "post_view" post.pk %}"></a>{{ post.title }}</div>
		<div class="images">
			{% for img in images %}
				<img class="img" src="{{ img.image.url }}">
			{% endfor %}
		</div>
		<div class="text">{{ post.text }}</div>
		<div class="comments">
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="button" type="submit">Comment</button>
		</form>
		{% for comment in comments %}
			<div class="comment">
			<div><img class="avatar" src="{{ comment.author.avatar.url }}"><span class="username">{{ comment.author.username }}</span></div>
			<div class="text">{{ comment.text }}</div>
			</div>
		{% endfor %}
		</div>
	</div>       
{% endblock content %} 